#kontakt-images {
    display: flex;
}

#kontakt-section {
    margin-bottom: 0vh;
}

#mail {
    width: 1000px;
    display: block;
    position: relative;
    left: -700px;
    transform: rotate(6deg);
}

#mail_img {
    width: 100%;
    height: 100%;
}

#instagram {
    height: 700px;
    display: block;
    position: relative;
    left: -300px;
    top: 50px;
    transform: rotate(-30deg);
}

@media screen and (max-width: 768px){
  #mail {
    width: 300px;
    left: -150px;
  }

  #instagram {
    height: 200px;
    left: -50px;
    top: 25px;
  }
}