#kontakt-images {
    display: flex;
}

.image-section {
    margin-bottom: -10vh;
}

#mail {
    width: 1000px;
    display: block;
    position: relative;
    left: -700px;
    transform: rotate(6deg);
}

#mail_img {
    width: 100%;
    height: 100%;
}

#instagram {
    height: 700px;
    display: block;
    position: relative;
    left: -300px;
    top: 50px;
    transform: rotate(-30deg);
}

#kontakt-svg {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    left: 350px;
    top: -300px;
}

@media screen and (max-width: 768px){
  .image-section {
    margin-bottom: 0;
  }

  #mail {
    width: 300px;
    left: -150px;
  }

  #instagram {
    height: 200px;
    left: -50px;
    top: 25px;
  }

  #kontakt-svg {
    width: 50%;
    left: 125px;
    top: -100px;
  }
}