#JanPortrait_Farbe {
  position: absolute;
  width: 523px;
  height: 365px;
  transform: rotate(-3.203deg);
  top: 35vh;
  right: 10vw;
}

#JanPortrait_Farbe img {
  width: 100%;
  height: 100%;
  object-fit: auto;
}

.fliesstext {
  margin-bottom: 10vh;
}

p {
    max-width: 525px;
}

.wide-text {
  max-width: 550px;
}

.highlight {
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.highlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.4s ease-in-out;
}

.highlight:hover::before {
  opacity: 1;
}

#dokumentarfilm-highlight::before {
  background-color: var(--green);
}

#ausstellungen-highlight::before {
  background-color: var(--yellow);
}

#events-highlight::before {
  background-color: var(--orange);
}

#animated-word::after {
  content: '|';
  animation: blink 1s infinite;
  margin-left: -5px;
}
#farbgestaltung {
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease-in-out;
}

#farbgestaltung-highlight:hover::before {
  opacity: 1;
  animation: color-cycle 5s linear infinite;
}

@keyframes color-cycle {
  0% {
    background-color: var(--red);
  }
  20% {
    background-color: var(--orange);
  }
  40% {
    background-color: var(--yellow);
  }
  60% {
    background-color: var(--green);
  }
  80% {
    background-color: var(--blue);
  }
  100% {
    background-color: var(--red);
  }
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.hover-name-container {
  position: relative;
  display: inline-block;
}

.hover-name {
  cursor: pointer;
}

.pronunciation {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 18px;
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
}

.age-container {
  display: inline-block;
  position: relative;
}

.age-svg {
  position: absolute;
  top: -5px;
  left: 15px;
  width: 27.8px;
  height: 39.5px;
  pointer-events: none;
  overflow: visible;
}

#animated-word {
  opacity: 0.7;
}

@media screen and (max-width: 768px){
  #JanPortrait_Farbe {
    width: 300px;
    height: auto;
    top: 33vh;
    right: 15vw;
  }

  h1 {
    margin-bottom: 30vh;
  }
}