#JanPortrait_Farbe {
  position: absolute;
  width: 523px;
  height: 365px;
  transform: rotate(-3.203deg);
  top: 35vh;
  right: 10vw;
}

#JanPortrait_Farbe img {
  width: 100%;
  height: 100%;
  object-fit: auto;
}

#ZentrumDerSchweiz {
  position: relative;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

#ArrowOlten {
  position: relative;
  top: -160px;
  left: -85px;
}

#Olten {
  position: relative;
  top: -40px;
  left: -235px;
}

.fliesstext {
  margin-bottom: 10vh;
}

p {
    max-width: 525px;
}

.wide-text {
  max-width: 570px;
}

.highlight {
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.highlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.4s ease-in-out;
}

.highlight:hover::before {
  opacity: 1;
}

#dokumentarfilm-highlight::before {
  background-color: var(--green);
}

#ausstellungen-highlight::before {
  background-color: var(--yellow);
}

#events-highlight::before {
  background-color: var(--orange);
}

#farbgestaltung-highlight:before {
  background: linear-gradient(90deg, var(--red), var(--orange), var(--yellow), var(--green), var(--blue));
}

.hover-name-container {
  position: relative;
  display: inline-block;
}

.hover-name {
  cursor: pointer;
}

.pronunciation {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 18px;
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
}

.age-container {
  display: inline-block;
  position: relative;
}

.age-svg {
  position: absolute;
  top: -5px;
  left: 15px;
  width: 27.8px;
  height: 39.5px;
  pointer-events: none;
  overflow: visible;
}

#animated-word {
  opacity: 0.7;
}

#animated-word::after {
  content: '|';
  animation: blink 1s infinite;
  margin-left: -5px;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.nogap {
  margin-bottom: 0;
}

@keyframes highlight-dokumentarfilm {
  0%, 20%, 100% {
    opacity: 1;
  }
  33.33%, 86.67% {
    opacity: 0;
  }
}

@keyframes highlight-ausstellungen {
  0%, 20%, 66.67%, 100% {
    opacity: 0;
  }
  33.33%, 53.33% {
    opacity: 1;
  }
}

@keyframes highlight-events {
  0%, 53.33%, 100% {
    opacity: 0;
  }
  66.67%, 86.67% {
    opacity: 1;
  }
}

@keyframes highlight-farbgestaltung {
  0%, 30%, 80%, 100% {
    opacity: 0;
  }
  40%, 70% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px){
  #JanPortrait_Farbe {
    width: 300px;
    height: auto;
    top: 33vh;
    right: 15vw;
  }

  br {
    display: none;
  }

  h1 {
    margin-bottom: 30vh;
  }

  .pronunciation {
    left: -100px;
  }

  .age-svg {
  position: absolute;
  top: -5px;
  left: 10px;
  width: calc(27.8px * 0.8);
  height: calc(39.5px * 0.8);
  pointer-events: none;
  overflow: visible;
  }

  #dokumentarfilm-highlight::before {
    animation: highlight-dokumentarfilm 15s infinite;
  }

  #ausstellungen-highlight::before {
    animation: highlight-ausstellungen 15s infinite;
  }

  #events-highlight::before {
    animation: highlight-events 15s infinite;
  }

  #farbgestaltung-highlight::before {
    animation: highlight-farbgestaltung 10s linear infinite;
  }

  #ArrowOlten {
    opacity: 0;
  }

  #Olten {
    opacity: 0;
  }
}