.produktion-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.produktion-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    margin-bottom: 10vh;
}

.image-container {
    position: relative;
    width: 614px;
    margin-bottom: 2vh;
}

.svg-layer {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
}

.photo-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.image-container:hover .svg-layer {
    opacity: 0;
}

.image-container:hover .photo-layer {
    opacity: 1;
}