.produktion-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.produktion-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    margin-bottom: 10vh;
}


.rectangle {
  width: 600px;
  height: 300px;
  background-color: var(--green);
}

