@import url('reset.css');
@import url('fonts.css');

/* Root variables for colors and fonts */
:root {
  --white: #F8F8F1;
  --black: #0A0907;
  --green: #04A102;
  --orange: #FC6300;
  --yellow: #F3B305;
  --red: #F70A0C;
  --blue: #0588D5;
  --font: "Courier New", monospace;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  background-color: var(--white);
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 0;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  width: 60vw;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 15vh;
}

footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}

h2 {
  font-family: var(--font);
  color: var(--black);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1 {
  font-family: var(--font);
  color: var(--black);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-bottom: 25vh;
}

p {
  font-family: var(--font);
  color: var(--black);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 725px;
}

a {
  font-family: var(--font);
  color: var(--black);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: inherit;
}

/* Header styles */

.website-name {
  justify-self: start;
  margin-left: 150px;
}

header a {
  text-decoration: none;
  color: inherit;
}

#navigation-links {
  justify-self: end;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.header-nummer {
  display: flex;
  align-items: center;   /* centers text vertically */
  font-family: var(--font);
  font-size: 15px;
  padding: 0 10px;      /* gives it some breathing room */
  margin-right: 20px;
}

.eingerueckt, .fliesstext {
  margin-bottom: 20vh;
}

#introduction {
  margin-bottom: 30vh;
}

.eingerueckt {
  margin-left: 40px;
}

/* Button styles */

button {
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  background-color: transparent;
  border: none;
  font-family: var(--font);
  font-size: 16px;
  overflow: visible;
  position: relative;
}

button::before {
  content: '';
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../fotos/svg/button-border.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

#meinweg-nav-button::before {
  width: calc(100% + 20px);
  height: 40px;
}

#produktionen-nav-button::before {
  width: calc(100% + 40px);
  height: 53px;
}

#kontakt-nav-button::before {
  width: calc(100% + 20px);
  height: 40px;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin-bottom: 20vh;
}

.button-text {
  display: block;
  color: var(--black);
}

.nav-button {
  font-size: 12px;
  padding: 8px 16px;
}

.action-button::before {
  top: 40%;
}

#meinweg-action-button::before {
  width: calc(100% + 20px);
  height: 55px;
}

#produktionen-action-button::before {
  width: calc(100% + 40px);
  height: 70px;
}

#kontakt-action-button::before {
  width: calc(100% + 20px);
  height: 50px;
}

/* Photo styles */

#JanPortrait {
  position: absolute;
  width: 317.924px;
  height: 432.285px;
  transform: rotate(8.442deg);
  top: 20vh;
  right: 10vw;
}

#JanPortrait img {
  width: 100%;
  height: 100%;
  object-fit: auto;
}

.split {
  will-change: transform;
}

.split * {
  will-change: transform;
}

.line {
  overflow: hidden;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  /* Root variables for colors and fonts */
  main {
    width: 90vw;
    padding: 10px;
    margin-top: 5vh;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 10vh;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
    max-width: 100%;
  }

  /* Header styles */

  header {
  align-items: start;
  margin-top: 10px;
  height: 120px;
  }

  .website-name {
  margin-left: 25px;
  }

  #navigation-links {
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-right: 10px;
  }

  #navigation-links li:has(.header-nummer) {
  order: -1;
  }

  .header-nummer{
  margin-right: 0;
  }

  /* Button styles */

  button {
  padding: 12px 24px;
  font-size: 11px;
  }

  #button {
  gap: 10px;
  margin-bottom: 10vh;
  }

  .nav-button {
  font-size: 10px;
  padding: 8px 12px;
  }

  .action-button {
  padding: 10px 20px;
  }

  #meinweg-nav-button::before {
  width: calc(100% + 20px);
  height: 30px;
  }

  #produktionen-nav-button::before {
  width: calc(100%);
  height: 40px;
  }

  #kontakt-nav-button::before {
  width: calc(100% + 20px);
  height: 30px;
  }

  #meinweg-action-button::before {
  width: calc(100% + 20px);
  height: 40px;
  }

  #produktionen-action-button::before {
  width: calc(100%);
  height: 50px;
  }

  #kontakt-action-button::before {
  width: calc(100% + 20px);
  height: 35px;
  }

  /* Photo styles */

  #JanPortrait {
    position: relative;
    width: 200px;
    height: 272px;
    align-self: center;
    top: 0;
    right: 0;
    margin-bottom: 5vh;
  }

  .eingerueckt, .fliesstext {
  margin-bottom: 10vh;
  }

  #introduction {
  margin-bottom: 15vh;
  }
  
}